<h1>Cube <%= @cube.id %></h1>

<table border=2 cellpadding="20">
  <tbody align="center">
    <tr>
      <td>Size:</td>
      <td><%=@cube.size%> cm</td>
    </tr>  
    <tr>
      <td>Color:</td>
      <td><%=@cube.color%></td>
    </tr>
    <tr>
      <td>Weight:</td>
      <td><%=@cube.weight%> kg</td>
    </tr>
    <tr>
      <td>Material:</td>
      <td><%=@cube.material%></td>
    </tr>
  </tbody>

</table>
